HEAD forces "Content-Length: 0" header

The wsgi() function sets 'out =[]' for HEAD requests.  This causes wsgiref WSGIServer to set "Content-Length: 0", overriding the Content-Length set by the application.  According to RFC 2616, section 14.13 (http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13), "...or, in the case of the HEAD method, the size of the entity-body that would have been sent had the request been a GET."  The following patch leaves the response body intact, which in turn allows the correct Content-Length to be returned to the HTTP client.  The version I am using is current as of about an hours ago and has a last commit of Fri Apr 6 01:08:24 2012 +0800.

```
861,862c861
<             if response._status_code in (100, 101, 204, 304)\
<             or request.method == 'HEAD':

---
>             if response._status_code in (100, 101, 204, 304):
864a864,865
>             if request.method == 'HEAD':
>                 if hasattr(out, 'close'): out.close()
```
